<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyphenate.easeui"
    android:versionCode="1"
    android:versionName="1.0" >

    <application>
        <activity android:name=".ui.EaseShowBigImageActivity"/>
        <activity android:name=".ui.EaseShowNormalFileActivity"/>
        <activity android:name=".ui.EaseBaiduMapActivity"/>
        <activity android:name=".ui.EaseShowVideoActivity"/>
    </application>



</manifest>
